<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Planet Canine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/RandomPic">Random Dog Picture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/DogBreed">Select Breed</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Contact">Contact<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Contact Us</title>
  </head>
  <body>

    <!--background color-->
    <body style="background-image: url('stars.jpg');">
    
    <!--Jumbotron-->
    <div class="jumbotron bg-dark text-white">      
        <h1 class="display-4">Contact Us</h1>
        <p class="lead"></p>
        <hr class="my-4">
         <p>For any questions or concerns, please fill out the form below to send us an email. </p>
    </div> 

    <!-- insert contact form that sends to email-->
    <center><form style="Width:800px;">
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Your Message Here"rows="3"></textarea>
        </div>
        <button>send mail</button>
        <p>

        </p>
    </form></center>


    <!-- insert picture and infromation about us-->

    <!--Ashley-->
    <center><div class="card mb-3" style="max-width: 540px; border: 2px solid black;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="AshleyL.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Ashley Locey</h5>
                <p class="card-text">Hello! My name is Ashley and I am a senior at Columbus State University. I am studying Applied Computer Science. I am a huge animal lover and I own 4 dogs and 2 turtles. Some of my hobbies are volutneering at my animal shleter, art & crafts, and cooking.</p>
            </div>
            </div>
        </div>
    </div></center>
    <!--Kody-->
        <center><div class="card mb-3" style="max-width: 540px; border: 2px solid black;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="Kody.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Kody Martinolich</h5>
                <p class="card-text">Hello! My name is Kody and I am a senior at Columbus State University. I am studying Computer Science Web Development. I have always loved animals. At one point quite some time ago, I owned a dog, 2 cats, a ferret, 2 guinea pigs, and a hamster, at the same time! My hobbies are mostly made up of playing/watching football and various other sports and video games.</p>
            </div>
            </div>
        </div>
    </div></center>
    <!--Brandon-->
        <center><div class="card mb-3" style="max-width: 540px; border: 2px solid black;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="BJoiner.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Brandon Joiner</h5>
                <p class="card-text">Good Day! My name is Brandon and I am a senior at Columbus State University, majoring in Information Technology. I currently have three associate degrees from Columbus Technical College in Management/Supervisory Development, Computer Support Specialist and Networking Specialist. I have a dog, a Jack Russell Shih Tzu mix. In my spare time you can usually find me exercising, watching sports, cooking or playing videos.</p>
            </div>
            </div>
        </div>
    </div></center>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>